@import (less) '../node_modules/tachyons/css/tachyons.css';

.icon {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;

  &:hover {
    .white;
    .bg-near-black;

    svg {
      stroke: white !important;
      fill: white !important;
    }
  }
}
