<!doctype html>
<html lang="en">
  <head>
    {{>head}}
  </head>
  <body class="sans-serif ma0 black-80">
    {{>header}}

    <div class="container min-vh-100 mw8 center">
      <main id="main">
        <h2>Browser support</h2>

        <p class="measure-wide lh-copy">
          SVG sprite requires browser support for SVG fragment identifiers
          feature. This feature is currenty widely supported among all major
          web browsers, covering approximately <strong>83.68%</strong> users.
        </p>

        <p>Detailed browser support breakdown:</p>

        <table class="table">
          <thead>
            <tr>
              <th>Browser</th>
              <th>Version</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>IE</th>
              <td>
                <strong title="current version">11 </strong>
              </td>
            </tr>
            <tr>
              <th>Edge</th>
              <td>
                <strong title="current version">16 </strong>, 17
              </td>
            </tr>
            <tr>
              <th>Firefox</th>
              <td>
                <strong title="current version">58 </strong>, 59, 60, 61
              </td>
            </tr>
            <tr>
              <th>Safari</th>
              <td>
                <strong title="current version">11 </strong>, 11.1, Technology Preview
              </td>
            </tr>
            <tr>
              <th>iOS Safari</th>
              <td>
                <strong title="current version">11.3 </strong>
              </td>
            </tr>
            <tr>
              <th>Chrome</th>
              <td>
                63, 64, <strong title="current version">65 </strong>, 66, 67, 68
              </td>
            </tr>
            <tr>
              <th>Chrome for Android</th>
              <td>
                <strong title="current version">64 </strong>
              </td>
            </tr>
            <tr>
              <th>UC Browser for Android</th>
              <td>
                <strong title="current version">11.8 </strong>
              </td>
            </tr>
            <tr>
              <th>Samsung Internet</th>
              <td>
                <strong title="current version">6.2 </strong>
              </td>
            </tr>
          </tbody>
        </table>

        <p class="measure-wide lh-copy">
          Source:
          <a href="https://caniuse.com/#feat=svg-fragment" target="_blank" rel="noopener">
            https://caniuse.com/#feat=svg-fragment
          </a>
        </p>
      </main>
    </div>
  </body>
</html>
